USE [master]
GO
/****** Object:  Database [Rekurrens]    Script Date: 2025-04-24 15:38:47 ******/
CREATE DATABASE [Rekurrens]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Rekurrens].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Rekurrens]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2025-04-24 15:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 2025-04-24 15:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[TenantID] [uniqueidentifier] NOT NULL,
	[CompanyName] [nvarchar](50) NOT NULL,
	[OrganizationNumber] [nvarchar](11) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[PostalCode] [nvarchar](15) NOT NULL,
	[ContactPerson] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](18) NOT NULL,
	[Type] [nvarchar](30) NOT NULL,
	[LogoURL] [nvarchar](100) NOT NULL,
	[Website] [nvarchar](100) NOT NULL,
	[CustomerNumber] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[TenantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2025-04-24 15:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [uniqueidentifier] NOT NULL,
	[TenantID_FK] [uniqueidentifier] NOT NULL,
	[UserID_FK] [uniqueidentifier] NOT NULL,
	[StripeCustomerID] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[EmailAdress] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](18) NOT NULL,
	[Adress] [nvarchar](100) NOT NULL,
	[isArchived] [bit] NOT NULL,
	[ActiveCustomer] [bit] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OnboardingCompanies]    Script Date: 2025-04-24 15:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OnboardingCompanies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContactName] [nvarchar](50) NOT NULL,
	[ContactEmail] [nvarchar](max) NOT NULL,
	[ContactPhone] [nvarchar](max) NOT NULL,
	[SubscriptionLevel] [int] NOT NULL,
	[PrimaryColor] [nvarchar](10) NOT NULL,
	[SecondaryColor] [nvarchar](10) NOT NULL,
	[TertiaryColor] [nvarchar](10) NOT NULL,
	[PercentageSubscription] [bit] NOT NULL,
	[CompanyLogo] [nvarchar](max) NOT NULL,
	[CompanyName] [nvarchar](max) NOT NULL,
	[TenantID_FK] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_OnboardingCompanies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2025-04-24 15:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[PaymentId] [uniqueidentifier] NOT NULL,
	[StripePaymentIntentID] [nvarchar](max) NOT NULL,
	[StripeChargeID] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Amount] [bigint] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[TenantID_FK] [uniqueidentifier] NOT NULL,
	[CustomerID_FK] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 2025-04-24 15:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[StripePaymentMethodID] [nvarchar](450) NOT NULL,
	[TenantID_FK] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_PaymentMethods] PRIMARY KEY CLUSTERED 
(
	[StripePaymentMethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 2025-04-24 15:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[PermissionID] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[Action] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductPrice]    Script Date: 2025-04-24 15:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductPrice](
	[ProductPriceID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID_FK] [int] NOT NULL,
	[TenantID_FK] [uniqueidentifier] NOT NULL,
	[StripePriceID] [nvarchar](max) NULL,
	[Interval] [nvarchar](max) NOT NULL,
	[Amount] [bigint] NOT NULL,
	[Currency] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ProductPrice] PRIMARY KEY CLUSTERED 
(
	[ProductPriceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2025-04-24 15:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[StripeProductID] [nvarchar](max) NULL,
	[Description] [nvarchar](200) NOT NULL,
	[TenantID_FK] [uniqueidentifier] NOT NULL,
	[ThirdPartyLink] [nvarchar](max) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 2025-04-24 15:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [uniqueidentifier] NOT NULL,
	[Token] [nvarchar](max) NOT NULL,
	[UserId_FK] [uniqueidentifier] NOT NULL,
	[TokenExpires] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 2025-04-24 15:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RolePermissionsID] [uniqueidentifier] NOT NULL,
	[RoleID] [uniqueidentifier] NOT NULL,
	[PermissionID] [uniqueidentifier] NOT NULL,
	[Allowed] [bit] NOT NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[RolePermissionsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2025-04-24 15:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](25) NOT NULL,
	[TenantID_FK] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StripeCompanyTokens]    Script Date: 2025-04-24 15:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StripeCompanyTokens](
	[StripeCompanyTokenId] [int] IDENTITY(1,1) NOT NULL,
	[TenantID_FK] [uniqueidentifier] NOT NULL,
	[StripeUserId] [nvarchar](max) NOT NULL,
	[AcessToken] [nvarchar](max) NOT NULL,
	[Scope] [nvarchar](max) NOT NULL,
	[RefreshToken] [nvarchar](max) NULL,
	[TokenType] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_StripeCompanyTokens] PRIMARY KEY CLUSTERED 
(
	[StripeCompanyTokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StripeEventLogs]    Script Date: 2025-04-24 15:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StripeEventLogs](
	[EventID] [uniqueidentifier] NOT NULL,
	[StripeEventID] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[PayloadJson] [nvarchar](max) NOT NULL,
	[ReceivedAt] [datetime2](7) NOT NULL,
	[TenantID_FK] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_StripeEventLogs] PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StripePayments]    Script Date: 2025-04-24 15:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StripePayments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StripeSessionId] [nvarchar](max) NOT NULL,
	[OrderId] [nvarchar](max) NOT NULL,
	[Company] [nvarchar](max) NOT NULL,
	[AmountTotal] [bigint] NOT NULL,
	[Currency] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CustomerEmail] [nvarchar](max) NOT NULL,
	[PaymentStatus] [nvarchar](max) NOT NULL,
	[PaymentIntentId] [nvarchar](max) NOT NULL,
	[ReceiptUrl] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_StripePayments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StripeSubscriptions]    Script Date: 2025-04-24 15:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StripeSubscriptions](
	[SubscriptionID] [uniqueidentifier] NOT NULL,
	[StripeSubscriptionID] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CurrentPeriodEnd] [datetime2](7) NOT NULL,
	[Plan] [nvarchar](max) NOT NULL,
	[UserID_FK] [uniqueidentifier] NOT NULL,
	[TenantID_FK] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_StripeSubscriptions] PRIMARY KEY CLUSTERED 
(
	[SubscriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StripeWebhookEvents]    Script Date: 2025-04-24 15:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StripeWebhookEvents](
	[WebhookID] [int] IDENTITY(1,1) NOT NULL,
	[StripeEventID] [nvarchar](64) NOT NULL,
	[Type] [nvarchar](64) NOT NULL,
	[ReceivedAt] [datetime2](7) NOT NULL,
	[Processed] [bit] NOT NULL,
	[Payload] [text] NULL,
	[StripeCustomerID] [nvarchar](64) NULL,
	[SubscriptionID] [nvarchar](64) NULL,
	[ErrorMessage] [nvarchar](400) NULL,
	[ProcessedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_StripeWebhookEvents] PRIMARY KEY CLUSTERED 
(
	[WebhookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025-04-24 15:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[IsHost] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[TenantID_FK] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Customers_UserID_FK]    Script Date: 2025-04-24 15:38:47 ******/
CREATE NONCLUSTERED INDEX [IX_Customers_UserID_FK] ON [dbo].[Customers]
(
	[UserID_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OnboardingCompanies_TenantID_FK]    Script Date: 2025-04-24 15:38:47 ******/
CREATE NONCLUSTERED INDEX [IX_OnboardingCompanies_TenantID_FK] ON [dbo].[OnboardingCompanies]
(
	[TenantID_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_TenantID_FK]    Script Date: 2025-04-24 15:38:47 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_TenantID_FK] ON [dbo].[Orders]
(
	[TenantID_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductPrice_ProductID_FK]    Script Date: 2025-04-24 15:38:47 ******/
CREATE NONCLUSTERED INDEX [IX_ProductPrice_ProductID_FK] ON [dbo].[ProductPrice]
(
	[ProductID_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_TenantID_FK]    Script Date: 2025-04-24 15:38:47 ******/
CREATE NONCLUSTERED INDEX [IX_Products_TenantID_FK] ON [dbo].[Products]
(
	[TenantID_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RefreshTokens_UserId_FK]    Script Date: 2025-04-24 15:38:47 ******/
CREATE NONCLUSTERED INDEX [IX_RefreshTokens_UserId_FK] ON [dbo].[RefreshTokens]
(
	[UserId_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RolePermissions_PermissionID]    Script Date: 2025-04-24 15:38:47 ******/
CREATE NONCLUSTERED INDEX [IX_RolePermissions_PermissionID] ON [dbo].[RolePermissions]
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RolePermissions_RoleID]    Script Date: 2025-04-24 15:38:47 ******/
CREATE NONCLUSTERED INDEX [IX_RolePermissions_RoleID] ON [dbo].[RolePermissions]
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Roles_TenantID_FK]    Script Date: 2025-04-24 15:38:47 ******/
CREATE NONCLUSTERED INDEX [IX_Roles_TenantID_FK] ON [dbo].[Roles]
(
	[TenantID_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StripeCompanyTokens_TenantID_FK]    Script Date: 2025-04-24 15:38:47 ******/
CREATE NONCLUSTERED INDEX [IX_StripeCompanyTokens_TenantID_FK] ON [dbo].[StripeCompanyTokens]
(
	[TenantID_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StripeSubscriptions_TenantID_FK]    Script Date: 2025-04-24 15:38:47 ******/
CREATE NONCLUSTERED INDEX [IX_StripeSubscriptions_TenantID_FK] ON [dbo].[StripeSubscriptions]
(
	[TenantID_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StripeSubscriptions_UserID_FK]    Script Date: 2025-04-24 15:38:47 ******/
CREATE NONCLUSTERED INDEX [IX_StripeSubscriptions_UserID_FK] ON [dbo].[StripeSubscriptions]
(
	[UserID_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StripeWebhookEvents_StripeEventID]    Script Date: 2025-04-24 15:38:47 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_StripeWebhookEvents_StripeEventID] ON [dbo].[StripeWebhookEvents]
(
	[StripeEventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_TenantID_FK]    Script Date: 2025-04-24 15:38:47 ******/
CREATE NONCLUSTERED INDEX [IX_Users_TenantID_FK] ON [dbo].[Users]
(
	[TenantID_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Users_UserID_FK] FOREIGN KEY([UserID_FK])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Users_UserID_FK]
GO
ALTER TABLE [dbo].[OnboardingCompanies]  WITH CHECK ADD  CONSTRAINT [FK_OnboardingCompanies_Companies_TenantID_FK] FOREIGN KEY([TenantID_FK])
REFERENCES [dbo].[Companies] ([TenantID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OnboardingCompanies] CHECK CONSTRAINT [FK_OnboardingCompanies_Companies_TenantID_FK]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers_TenantID_FK] FOREIGN KEY([TenantID_FK])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers_TenantID_FK]
GO
ALTER TABLE [dbo].[ProductPrice]  WITH CHECK ADD  CONSTRAINT [FK_ProductPrice_Products_ProductID_FK] FOREIGN KEY([ProductID_FK])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductPrice] CHECK CONSTRAINT [FK_ProductPrice_Products_ProductID_FK]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Companies_TenantID_FK] FOREIGN KEY([TenantID_FK])
REFERENCES [dbo].[Companies] ([TenantID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Companies_TenantID_FK]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Users_UserId_FK] FOREIGN KEY([UserId_FK])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users_UserId_FK]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Permissions_PermissionID] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[Permissions] ([PermissionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Permissions_PermissionID]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Roles_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Roles_RoleID]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [FK_Roles_Companies_TenantID_FK] FOREIGN KEY([TenantID_FK])
REFERENCES [dbo].[Companies] ([TenantID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [FK_Roles_Companies_TenantID_FK]
GO
ALTER TABLE [dbo].[StripeCompanyTokens]  WITH CHECK ADD  CONSTRAINT [FK_StripeCompanyTokens_Companies_TenantID_FK] FOREIGN KEY([TenantID_FK])
REFERENCES [dbo].[Companies] ([TenantID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StripeCompanyTokens] CHECK CONSTRAINT [FK_StripeCompanyTokens_Companies_TenantID_FK]
GO
ALTER TABLE [dbo].[StripeSubscriptions]  WITH CHECK ADD  CONSTRAINT [FK_StripeSubscriptions_Companies_TenantID_FK] FOREIGN KEY([TenantID_FK])
REFERENCES [dbo].[Companies] ([TenantID])
GO
ALTER TABLE [dbo].[StripeSubscriptions] CHECK CONSTRAINT [FK_StripeSubscriptions_Companies_TenantID_FK]
GO
ALTER TABLE [dbo].[StripeSubscriptions]  WITH CHECK ADD  CONSTRAINT [FK_StripeSubscriptions_Users_UserID_FK] FOREIGN KEY([UserID_FK])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[StripeSubscriptions] CHECK CONSTRAINT [FK_StripeSubscriptions_Users_UserID_FK]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Companies_TenantID_FK] FOREIGN KEY([TenantID_FK])
REFERENCES [dbo].[Companies] ([TenantID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Companies_TenantID_FK]
GO
USE [master]
GO
